.color {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 12px 14px 12px 18px;
}

.color__image {
  width: 20px;
  height: 20px;
  margin: 0 18px 0 0; 

  background-color: #C4C4C4;
  border: 1px solid #000000;
  border-radius: 50%;

  &--green {
    background-color: #41F795;
  }

  &--red {
    background-color: #F74141;
  }

  &--blue {
    background-color: #41B6F7;
  }
}

.color__name {
  margin: 0;

  @include font-styles(16px, 24px, $main-font-color);
}